.bg{
    position: fixed;
    width:100%;
    z-index: 9999 !important;
}

.img_NAvbar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.bg .ColorText {
    
    color: #000000 !important;
    cursor: pointer !important;
}
.icon{
    width:20px;
    height: 20px;
}
